adsputils==1.5.13
alembic==0.9.1
httplib2==0.19.0
portalocker==1.7.1
psycopg2==2.8.6
pyrabbit==1.1.0
awscli==1.29.85
ScixPipelineUtils @ git+https://github.com/adsabs/SciXPipelineUtils.git@v0.5.2
